

/* .navbar-edit{
    background-color: black !important;
} */

.logo{
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    
}




a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 15px;    
}
